body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 0.5em 1em;
  border-radius: 50em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;

  height: 100svh;
  height: 100vh;
  text-align: center;
}

.account {
  position: fixed;
  top: 20px;
  right: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.balance {
  position: fixed;
  top: 10px;
  left: 40px;
}

.footer {
  display: flex;
  gap: 20px;
  position: fixed;
  bottom: 20px;
}